@media screen and (max-width: 575.99px) {
    /* navbar section start here */
    .hambarger-menu {
        color: white;
        font-size: 3rem;
        display: block;
    }
    .fitness-cotainer {
        justify-content: space-around;
    }
    .fitness-menu {
        display: none;
    }
    /* navbar section ends here */

    /* header section start here */
    .banner-title {
        flex-direction: column;
        margin-left: 2rem;
        overflow: hidden;
    }
    .icon {
        display: none;
    }
    .workout-videos {
        top: 5rem;
        left: 20rem;
    }
    .video-tutorial-tex {
        top: 25rem;
        left: -6rem;
    }
    .video-tutorial-btn {
        top: 28rem;
        left: -4rem;
    }
    /* header section end here */

    /* habit section start here */

    .card-cointainer {
        flex-direction: column;
    }
    /* habit section ends here */

    /* run section start here */
    .running-section {
        flex-direction: column;
        gap: 2rem;
    }
    .join-btn {
        padding: 1.6rem 10.65rem;
    }

    /* run section ends here */

    /* BMI section start here */
    .BMI-content {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        /* overflow: hidden; */
    }
    .BMI-calc-chart {
        margin-left: 12rem;
    }
    .BMI-calc {
        margin: 5rem auto;
        width: 34.7rem;
    }

    /* BMI section ends here */

    .team-card-section {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-card {
        filter: brightness(100%);
    }
}
